body {
    margin: 0;
    padding: 0;
}

.a1 {
    background-color: rgb(43, 35, 35);
}

.a2 {
    background-color: whitesmoke;
}

.a3 {
    background-color: rgb(43, 35, 35);
}

.a4 {
    background-color: whitesmoke;
}