body {
    margin: 0%;
    padding: 0%;
    border: 0%;
}

h1 {
    font-size: 2em;
    color: rgb(0, 0, 0);
    border-color: black;
    background-color: grey;
    height: 25vh;
}

p {
    font-size: 1em;
    width: 100%;
    height: 100%;
}

.box-1 {
    width: 100%;
    height: 100%;
    background-color: grey;
    height: 12vh;
    font-size: large;
}

.box-2 {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    height: 12vh;
    font-size: large;
}

.box-3 {
    width: 100%;
    background-color: grey;
    height: 12vh;
    font-size: large;
}

.v1 {
    color: black;
    background-color: whitesmoke;
    height: 25vh;
}

.c1 {
    background-color: aliceblue;
    font-size: 25px;
}

.c2 {
    background-color: darkred;
    font-size: 25px;
}

.c3 {
    background-color: aliceblue;
    font-size: 25px;
}

hr {
    border-color: red;
}