#a1 {
    color: red;
    background-color: blue;
}

h1 {
    color: red;
    background-color: darkblue;
}

.a1 {
    color: blueviolet;
    background-color: brown;
}

.tb {
    background-color: grey;
}

.td {
    border-top-color: red;
    border-top-width: 30%;
}