p {
    background-color: white;
    color: black;
    background-image: url(https://i.dawn.com/primary/2017/10/59f84d8ed46fc.jpg);
    font-family: 'Dancing Script', cursive;
    background-size: cover;
    background-size: 900px;
    background-repeat: no-repeat;
    font-size: xx-large;
}

p {
    width: 1200px;
}