* {
    margin: 0;
    padding: 0;
}

body {
    width: 16%;
    height: 50%;
}

.dFlex {
    display: flex;
}

img {
    width: 208px;
    height: 300px;
}

.FontSize {
    font-size: 45px;
}

.padding20 {
    padding: 20px;
}

.AlignItemsCeter {
    align-items: center;
}

.fDirection {
    flex-direction: column;
}

.card-date {
    flex-direction: column;
    padding: 22px;
}

.card-price {
    justify-content: center;
    padding: 30px;
}

.card {
    border: 3px solid black;
    align-items: center;
}

label {
    position: fixed;
}